[user]
	name = Siphesihle Mhlongo
	email = sphe0619840353@gmail.com
[github]
   user = steampunk08
[core]
	editor = vim
[alias]
	s = status
	set = config --global
   edit = config --global -e
	rmdir = rm -r --cached
[color "status"]
	updated = 197
   changed = 197
	added = 154
   untracked = 105
   branch = 105 bold
   header = 242
[color "diff"]
   frag = 105
   new = 154
   old = 197
   context = 242
   whitespace = white red
   meta = 37
[color "branch"]
   local = 154 bold
   current = 105 bold
   remote = 197 bold
   plain = 242
[color "decorate"]
   branch = 105 bold
   tag = 242
   HEAD = 197 bold
   remoteBranch = 197 bold
[credential]
	helper = store
