$include /etc/inputrc

set colored-stats on
set colored-completion-prefix on
set menu-complete-display-prefix on
set print-completions-horizontally on
set completion-ignore-case on
set input-meta on
set keyseq-timeout 200
set show-all-if-ambiguous on
set show-all-if-unmodified on

tab: menu-complete